<% @listings.each do |listing| %>
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <span><img src="<%= listing.activity.logo.url %>" height="30"></span>
        <span class="panel-header-activity">  <%= listing.activity.activity_type %> </span>
      </div>
        <div class="panel-body fixed-panel">
              <h4><%= listing.description%></h4>
              <p><strong>Date:</strong><br>
              <%= listing.date.strftime('%d %b %Y, %a')  %></p>
              <p><strong>Time:</strong>
                <%= "#{listing.starttime.strftime('%I:00 %p')} - #{listing.endtime.strftime('%I:00 %p')}" %>
              </p>
              <p><strong>Venue:</strong><br>
              <%= listing.address%></p>
              <p><strong>Pax needed:</strong><br>
              <%= listing.pax_needed%></p>
              <p><strong>Host:</strong><br>
              <%= listing.user.name%></p>
              <p><%= link_to "Show", listing_path(listing) %></p>     
        </div>
    </div>   
  </div>
<% end %>