<%= content_tag :div, class: "temp_information", data: {temp: @activities.count} do %>

<% end %>



<div class="container">



  <!-- side panel-->

  <div class="row">

    <div class="col-md-3 col-sm-4">



      <div class="filter-search-form">

      

        <%= form_tag search_path, method: :get, id: "filter-search", :html => {:id => "filter-search" } do %>

        <%= text_field_tag :description, params[:description], size: "40", placeholder: "Type Anything" %>



      </div>



      <div class="panel panel-default sidebar-menu">

        <div class="panel-heading">

          <h3 class="panel-title">Activities</h3>

        </div>

        <div class="panel-body">

          

          <ul class="nav nav-pills nav-stacked category-menu">



            <% @activities.each do |a| %>

              <li id="act-<%= a.id %>" class="filter-activity-list">

                <a href="javascript:;" class="filter-activity" id="<%= a.id %>"><%= a.activity_type %> <span class="badge pull-right"><%= a.listings.count %></span></a>

              </li>

            <% end %>



          </ul>

        </div>

      </div>

    

      <div class="panel panel-default sidebar-menu">

        <div class="panel-heading">

          <h3 class="panel-title">Locations</h3>

        </div>

        <div class="panel-body">

          

          <ul class="nav nav-pills nav-stacked category-menu">



            <% @locations.each do |location| %>

              <li class="filter-activity-list">
                <a href="javascript:;" class="filter-activity" id=""><%= location %> <span class="badge pull-right"><%= Listing.location_count(location) %></span></a>
              </li>

            <% end %>

          </ul>

        </div>

      </div>

    </div>

    <!-- /side panel-->





    <!-- listing panel -->

    <div class="col-md-9 col-sm-8">

      <div class="container-fuild">

        <div class="row no-gutter">



           <% @listings.each do |listing| %>

          <div class="col-md-4 col-sm-6">



            <div class="panel panel-default">

              <div class="panel-heading" role="tab" id="headingOne">

                <span><img src="<%= listing.activity.logo.url %>" height="30"></span>

                <span class="panel-header-activity">  <%= listing.activity.activity_type %> </span>

              </div>

                <div class="panel-body fixed-panel">

                      <h4><%= listing.description%></h4>

                      <p><strong>Date:</strong><br>

                      <%= listing.date.strftime('%d %b %Y, %a')  %></p>

                      <p><strong>Time:</strong>
                        <%= "#{listing.starttime.strftime('%I:00 %p')} - #{listing.endtime.strftime('%I:00 %p')}" %>
                      </p>


                      <p><strong>Venue:</strong><br>

                      <%= listing.address%></p>

                      <p><strong>Pax needed:</strong><br>

                      <%= listing.pax_needed%></p>

                      <p><strong>Host:</strong><br>

                      <%= listing.user.name%></p>

                      <p><%= link_to "Show", listing_path(listing) %></p>     


                </div>

            </div>



            

          </div>

            <% end %>

        









        </div>

      </div>



    </div>

    <!-- listing panel -->

  



  </div>

</div>





<!-- Hidden Field -->

<div class="checkboxes">

  <% @activities.each do |activity| %>

    <li>

      <% if @activity_ids.nil? %>

        <%= check_box_tag 'activity_ids[]', activity.id, false, class: "cb-#{activity.id}" %>

        <%= activity.activity_type %>

      <% elsif @activity_ids.include?(activity.id.to_s) %>

        <%= check_box_tag 'activity_ids[]', activity.id, true, class: "cb-#{activity.id}" %>

        <%= activity.activity_type %>

      <% else %>

        <%= check_box_tag 'activity_ids[]', activity.id, false, class: "cb-#{activity.id}" %>

        <%= activity.activity_type %>

      <% end%> 

    </li>

  <% end %>

  <%= submit_tag 'Search Away! ', class: 'btn btn-primary' %>

  <% end %>

</div>

<!-- /Hidden Field -->