<div id="search-bar" class = "container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">  
    <%= form_tag search_path, method: :get, :html => {:class => "navbar-form navbar-left" } do %>
        <%= text_field_tag :description, params[:description], placeholder: "Type Anything" %>
        <h2>Activity Type</h2>
        <% @activities.each do |activity| %>
          <p>
            <% if @activity_ids.include?(activity.id.to_s) %>
              <%= check_box_tag 'activity_ids[]', activity.id, true %>
              <%= activity.activity_type %>
            <% else %>
              <%= check_box_tag 'activity_ids[]', activity.id, false %>
              <%= activity.activity_type %>
            <% end%>     
          </p>
        <% end %>
        <%= submit_tag 'Search away!', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>


<div id="index" class="container">
  <h1>Listings</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>       
          <th>Description</th>
          <th>Time</th>
          <th>Status</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <% @listings.each do |listing| %>
          <tr>
            <td><%= listing.description%></td>
            <td><%= listing.date%></td>
            <td><%= listing.status%></td>
            <td><%= listing.address%></td>
            <td>
                <%= link_to "Show", listing_path(listing) %>
            </td>     
            <td>
                <%= link_to "Edit", edit_listing_path(listing)%>
            </td>
            <td>
                <%= link_to "Delete", listing_path(listing), method: :delete, data: {confirm: 'Are you sure?'} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


