

<div class="container">

  <!-- side panel-->
  <div class="row">
    <div class="col-md-3 col-sm-4">

          <div class="filter-search-bar">
      
            <form method="get" action="/search" id="filter-search">
              <input name="q" type="text" size="40" placeholder="Filter..." />
            </form>

          </div>

      <div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
          <h3 class="panel-title">Activities</h3>
        </div>
        <div class="panel-body">
          
          <ul class="nav nav-pills nav-stacked category-menu">

            <% @activities.each do |a| %>
              <li class="filter-activity-list">
                <a href="javascript:;" class="filter-activity" id="<%= a.id %>"><%= a.activity_type %> <span class="badge pull-right">42</span></a>
              </li>
            <% end %>

          </ul>
        </div>
      </div>
    
      <div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
          <h3 class="panel-title">Locations</h3>
        </div>
        <div class="panel-body">
          
          <ul class="nav nav-pills nav-stacked category-menu">

              <li class="filter-activity-list">
                <a href="javascript:;" class="filter-activity" id="">Kuala Lumpur <span class="badge pull-right">34</span></a>
              </li>

              <li class="filter-activity-list">
                <a href="javascript:;" class="filter-activity" id="">Selangor <span class="badge pull-right">34</span></a>
              </li>

              <li class="filter-activity-list">
                <a href="javascript:;" class="filter-activity" id="">Penang <span class="badge pull-right">34</span></a>
              </li>

              <li class="filter-activity-list">
                <a href="javascript:;" class="filter-activity" id="">Johor <span class="badge pull-right">34</span></a>
              </li>

              <li class="filter-activity-list">
                <a href="javascript:;" class="filter-activity" id="">Pahang <span class="badge pull-right">34</span></a>
              </li>

              <li class="filter-activity-list">
                <a href="javascript:;" class="filter-activity" id="">Melaka <span class="badge pull-right">34</span></a>
              </li>

          </ul>
        </div>
      </div>







    </div>
    <!-- /side panel-->


    <!-- listing panel -->
    <div class="col-md-9 col-sm-8">



      <div class="container-fuild">
        <div class="row no-gutter">

           <% @listings.each do |listing| %>
          <div class="col-md-4 col-sm-6">

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <span><img src="<%= listing.activity.logo.url %>" height="30"></span>
                <span class="panel-header-activity">  <%= listing.activity.activity_type %> </span>
              </div>
                <div class="panel-body fixed-panel">
                      <h4><%= listing.description%></h4>
                      <p><strong>Date and time:</strong><br>
                      <%= listing.date%></p>
                      <p><strong>Status:</strong><br>
                      <%= listing.status%></p>
                      <p><strong>Venue:</strong><br>
                      <%= listing.address%></p>
                      <p><%= link_to "Show", listing_path(listing) %></p>     
                      <p><%= link_to "Edit", edit_listing_path(listing)%></p>
                      <p><%= link_to "Delete", listing_path(listing), method: :delete, data: {confirm: 'Are you sure?'} %></p>
                </div>
            </div>

            
          </div>
            <% end %>
        




        </div>
      </div>

<<<<<<< HEAD
  <div class="row">
    <div class="col-md-4">   
        <h3>Activity Type</h3>
        <% @activities.each do |activity| %>
          <p>
            <% if @activity_ids.nil? %>
              <%= check_box_tag 'activity_ids[]', activity.id, false %>
              <%= activity.activity_type %>
            <% elsif @activity_ids.include?(activity.id.to_s) %>
              <%= check_box_tag 'activity_ids[]', activity.id, true %>
              <%= activity.activity_type %>
            <% else %>
              <%= check_box_tag 'activity_ids[]', activity.id, false %>
              <%= activity.activity_type %>
            <% end%>     
          </p>
        <% end %>
        <%= submit_tag 'Search away!', class: 'btn btn-primary' %>
      <% end %>
=======
>>>>>>> master
    </div>
    <!-- listing panel -->
  

  </div>
</div>


<<<<<<< HEAD
<%= form_tag sort_path, method: :get, :html => {:class => "navbar-form navbar-left" } do %>
  <%= text_field_tag :description, params[:description], placeholder: "Type Anything" %>
  <%= submit_tag 'Search away!', class: 'btn btn-primary' %>
<% end %>


<div id="index" class="container">
  <h2>Listings</h2>
  <h3><%= link_to "Sort By Recent Dates", { controller: "listings", action: "sort", sort_order: "DESC" } %></h3>
  <h3><%= link_to "Sort By Older Dates", { controller: "listings", action: "sort", sort_order: "ASC" } %></h3>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>       
          <th>Description</th>
          <th>Time</th>
          <th>Status</th>
          <th>Address</th>
        </tr>

      </thead>
      <tbody>
        <% @listings.each do |listing| %>
          <tr>
            <td><%= listing.description%></td>
            <td><%= listing.date%></td>
           
            <td><%= listing.status%></td>
            <td><%= listing.address%></td>
            <td>
                <%= link_to "Show", listing_path(listing) %>
            </td>     
            <td>
                <%= link_to "Edit", edit_listing_path(listing)%>
            </td>
            <td>
                <%= link_to "Delete", listing_path(listing), method: :delete, data: {confirm: 'Are you sure?'} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
=======



<!-- Hidden Field -->
<div class="checkboxes">
  <% @activities.each do |activity| %>
    <li>
  <% if @activity_ids.include?(activity.id.to_s) %>
    <%= check_box_tag 'activity_ids[]', activity.id, true, class: "cb-#{activity.id}" %>
    <%= activity.activity_type %>
  <% else %>
    <%= check_box_tag 'activity_ids[]', activity.id, false, class: "cb-#{activity.id}" %>
    <%= activity.activity_type %>
  <% end%> 
      <span class="badge pull-right">42</span>
    </li>
  <% end %>
</div>
<!-- /Hidden Field -->
>>>>>>> master
