search.html.erb

<div id="search-bar" class = "container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">  
    <%= form_tag search_path, method: :get, :html => {:class => "navbar-form navbar-left" }  %>
      <%= text_field_tag :description, params[:description], placeholder: "Type Anything" %>
      <%= hidden_field_tag :activity_ids, @activity_ids %>
      <%= submit_tag 'search', class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<div class="index">
  <div class="container">

    <h1>Listings</h1>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>       
            <th>Description</th>
            <th>Time</th>
            <th>Status</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <% @listings.each do |listing| %>
            <tr>
              <td><%= listing.description%></td>
              <td><%= listing.listing_datetime%></td>
              <td><%= listing.status%></td>
              <td><%= listing.address%></td>
              <td>
                  <%= link_to "Show", listing_path(listing) %>
              </td>     
              <td>
                  <%= link_to "Edit", edit_listing_path(listing)%>
              </td>
              <td>
                  <%= link_to "Delete", listing_path(listing), method: :delete, data: {confirm: 'Are you sure?'} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


