<p>
  <strong>Description:</strong>
    <%= @listing.description %>
</p>

<p>
  <strong>Pax existing:</strong>
    <%= @listing.pax_existing %>
</p>

<p>
  <strong>Pax required:</strong>
    <%= @listing.pax_needed %>
</p>

<p>
  <strong>Status:</strong>
    <%= @listing.status %>
</p>

<p>
  <strong>Address:</strong>
    <%= @listing.address %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @listing.latitude %> <%= @listing.longitude %>
</p>

<p>
  <strong>Longitude:</strong>
    <%= @listing.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
    <%= @listing.latitude %>
</p>

<p>
  <strong>Host:</strong>
    <%= link_to @listing.user.name, @listing.user %>
</p>

<p>
  <% if @teammates.any? %>
    <strong>
      <%= pluralize(@teammates.count, "Participant") %> 
    </strong>

    <ul>
      <% @teammates.each do |teammate| %>
        <li><%= link_to teammate.user.name, teammate.user %></li>
      <%end%>
    </ul>
  <%end%>
</p>

<% if @listing.approved?(current_user.id) == false && @listing.user != current_user %>
  <%= form_for(@user_listing, :url => listing_user_listings_path(@listing)) do |form| %>
    <%= form.submit @listing.requested?(current_user.id) ? "Cancel request" : "Join" %>
  <%end%>
<% end %>

<%= link_to "Edit", edit_listing_path(@listing)%>
<%= link_to "Delete", listing_path(@listing), method: :delete, data: {confirm: 'Are you sure?'} %>
<%= link_to "Back", listings_path%>

<div style='width: 800px;'>
  <div id="map" style='width: 600px; height: 400px;'></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap(
    {
      provider: {
        disableDefaultUI: true
        // here you can pass other Google Maps API options here
      },
      internal: {
        id: 'map'
      }
    },
    function() {
      markers = handler.addMarkers([
        {
          "lat": <%= @listing.latitude %>,
          "lng": <%= @listing.longitude %>,
          "picture": {
            "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
            "width":  36,
            "height": 36
          },
          "infowindow": "hello!"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    }
  );
</script>

<% if @listing.user == current_user %>
  <h2>Waiting List:</h2>
  <p>
    <% if @requesters.any? %>
      <strong>
        <%= pluralize(@requesters.count, "Requester") %> 
      </strong>

      <ul>
        <% @requesters.each do |requester| %>
          <li>
            <span>
              <%= link_to requester.user.name, requester.user %>
              <%= form_tag({controller: "user_listings", action: "approve"}, method: "post", class: "nifty_form") do %>
                <%= hidden_field_tag 'requester_id', requester.user.id %>
                <%= submit_tag("Approve") %>
              <%end%>
            </span>
          </li>
        <%end%>
      </ul>
    <%end%>
  </p>
<% end %>




