<body id="listing-show-body">

<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-2">
    </div>

    <div class="col-md-6 col-sm-7">
      <span id="activity-title-in-listing-show"><img src="<%= @listing.activity.logo.url %>" height="50"> &nbsp; <%= @listing.activity.activity_type%> </span>
    </div>
  </div>

  <div class="spacer"></div>

  <!-- information panel-->      
  <div class = "row">

    <div class="col-md-1 col-sm-2">
    </div>
    
    <div class="col-md-6 col-sm-7">

      <p>
        <!-- <strong>Description:</strong> -->
          <%= @listing.description %>
      </p>
      <hr>
      <p>
        <strong>Joined Players:</strong>
          <%= @listing.pax_existing %> <i class="fa fa-male" aria-hidden="true"></i>
      </p>

      <p>
        <strong>Total Players:</strong>
          <%= @listing.pax_needed + @listing.pax_existing %> <i class="fa fa-male" aria-hidden="true"></i>
      </p>


      <p>
        <strong>Date:</strong>
        <%= @listing.date.strftime('%d %b %Y, %a')  %>
      </p>

      <p>
        <strong>Time:</strong>
        <%= "#{@listing.starttime.strftime('%I:%M:%S %p')} - #{@listing.endtime.strftime('%I:%M:%S %p')}" %>
      </p>

      <p>
        <strong>Address:</strong>
          <%= @listing.address %>
      </p>

      <p>
        <strong>Coordinates:</strong>
        <% if !@listing.latitude.nil? %>
          <%= @listing.latitude.round(4) %>, <%= @listing.longitude.round(4) %>
        <% end %>
      </p>

      <!-- google map -->
      <div class="spacer"></div>
      <div id="map"></div>

    </div> <!-- end of information panel -->

    <div class="col-md-1 col-sm-2">
    </div> 

    <!-- Participants panel -->
    <div class="col-md-3 col-sm-4">

    <p><h4>Organizer:</h4></p>
    <ul style="list-style: none;">
    <li>
      <span><img src="<%= @listing.user.photos[0] %>" alt="profile_pic" height="50" style="border-radius: 50%;">  <%= link_to @listing.user.name, @listing.user %></span>
    </li>
    </ul>
    <hr>



    <p><h4>Status:</h4></p>
    <p>
        <% if @listing.status == "Open" %>
          Open for participation
        <% else %>
          This activity is fully joined!
        <% end %>
    </p>

    <hr>
    <!-- participants list -->
      <p>
        <% if @teammates.any? %>
          <h4>
            <%= pluralize(@teammates.count, "Participant") %>:
          </h4>
          <ul style="list-style: none;">
            <% @teammates.each do |teammate| %>
              <li>
                <span><img src="<%= teammate.user.photos[0] %>" alt="profile_pic" height="50" style="border-radius: 50%;">  <%= link_to teammate.user.name, teammate.user %></span>
              </li>
            <%end%>
          </ul>
        <%end%>
      </p>

      <center>
      <!-- if user is not the organizer, show join button  -->
      <% if @listing.approved?(current_user.id) == false && @listing.user != current_user %>
        <%= form_for(@user_listing, :url => listing_user_listings_path(@listing)) do |form| %>
          <%= form.submit @listing.requested?(current_user.id) ? "Cancel request" : "Join" %>
        <%end%>
      <% end %>
      </center>

      <!-- show waiting list if user is organizer -->
      <% if @listing.user == current_user %>
        <div class="spacer"></div>
        <p>
        <% if @requesters.any? %>
          <strong>
            <%= pluralize(@requesters.count, "Pending Request") %> 
          </strong>

          <ul>
            <% @requesters.each do |requester| %>
              <li>
                <span>
                  <%= link_to requester.user.name, requester.user %>
                  <img class="img-circle" src="<%= requester.user.photos[0] %>" alt="profile_pic" height="50">
                  <%= form_tag({controller: "user_listings", action: "approve"}, method: "post", class: "nifty_form") do %>
                    <%= hidden_field_tag 'requester_id', requester.user.id %>
                    <br>
                    <%= submit_tag("Approve") %>
                  <%end%>
                </span>
              </li>
            <%end%>
          </ul>
        <%end%>   
        </p>
      <% end %> <!-- end of showing waiting list -->
    </div>  <!-- end of participant panel -->
  </div> <!-- end of div row -->

  <div class="spacer"></div>

  <div class="row">
    <div class="col-md-5 col-sm-6">
    </div>
    
    <div class="col-md-4 col-sm-5" id="edit-cancel-event">
      <%= link_to "Edit Event", edit_listing_path(@listing)%>
      &nbsp;&nbsp;&nbsp;
      <%= link_to "Cancel Event", listing_path(@listing), method: :delete, data: {confirm: 'Are you sure?'} %>
    </div>
    
  </div> <!-- end of div row -->

</div> <!-- end of div container -->

</body>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap(
    {
      provider: {
        disableDefaultUI: true
        // here you can pass other Google Maps API options here
      },
      internal: {
        id: 'map'
      }
    },
    function() {
      markers = handler.addMarkers([
        {
          "lat": <%= @listing.latitude %>,
          "lng": <%= @listing.longitude %>,
          "picture": {
            "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
            "width":  30,
            "height": 30,
          },
          //"infowindow": "#{<%= @listing.address %>}" 
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    }
  );
</script>