<div class="container">
  <% if current_user %>
    <h3>My Profile</h3>
    <h6><i><%= link_to 'Edit Profile', edit_user_registration_path %></i></h6>
  <% else %>
    <h3>@user.name's Profile</h3>
  <% end %>
</div>

<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="panel panel-default">
	  	<div class="panel-body">
		  <div class="row">
            
	        <!-- 4/12 width: -->
	        <div class="col-xs-12 col-sm-4 text-center">
	          <% if !@user.photos.blank? %>
	            <%= image_tag(@user.photos[0].thumb.url, class: "center-block img-circle img-responsive") %>
	          <% end %>

              <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
              <span class="profile-font-head"> 473</span>
              <span class="profile-font-head">
              Reputation Pts
              </span>
              <h6 class="profile-font-light"><i>Member since Oct 2016</i></h6>

            </div>
            
            <!-- 8/12 width: -->
            <div class="col-xs-12 col-sm-8">
              <h2 class="profile-font-head"><%= @user.name %></h2>
              <h5 class="profile-font-light"> <%= @user.bio %>  </h5>

              <p class="profile-tags-area">
              <span class="label label-info tags">Badminton</span> 
              <span class="label label-info tags">Board - CATAN</span> 
              <span class="label label-info tags">Board - Bang!</span> 
              <span class="label label-info tags">Bowling</span> 
              </p>

              <p class="profile-font-body"><strong><i class="fa fa-mars" aria-hidden="true"></i></strong> Male </p>
 			  <p class="profile-font-body"><strong><i class="fa fa-envelope" aria-hidden="true"></i></strong> liren@teamup.com </p>
              <p class="profile-font-body"><strong><i class="fa fa-map-marker" aria-hidden="true"></i></strong> PJ, Malaysia </p>
            </div>

                        
      	  </div><!--/row-->
        </div><!--/panel-body-->
      </div><!--/panel panel-default-->


	<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-lg-12 content-box">
			<div class="row row-featured">
			<div style="clear: both"></div>
			<div class=" relative  content  clearfix">
			<div class="tab-lite">
			 
			<ul role="tablist" class="nav nav-tabs ">
			
			<li role="presentation"><a data-toggle="tab" role="tab" aria-controls="tab1" href="#tab1" aria-expanded="true"><i class="icon-location-2"></i>Activities Joined</a></li>

			<li role="presentation" class=""><a data-toggle="tab" role="tab" aria-controls="tab2" href="#tab2" aria-expanded="false"><i class="icon-commerical-building"></i>Activities Hosted</a></li>
			
			</ul>
			 
			<div class="tab-content">


			<div role="tabpanel" class="tab-pane" id="tab1">
			<div class="col-lg-12 tab-inner">
			<div class="row">

			<div class="col-md-2">
				<div class="left-date-bar">
					<ul class="detail-box">
						<li class="active"><a href="#">Oct 2016</a></li>
						<li><a href="#">Nov 2016</a></li>
						<li><a href="#">Dec 2016</a></li>
					</ul>
				</div>
			  </div>
			
			  <div class="col-md-10">
				<ul class="detail-box">
					<% @listing.each do |list| %>
					<li>
						<div class="single-list-container">
						
						<h4><span><img src="<%= list.activity.logo.url %>" height="25"></span><span><strong>   <%= list.description %></strong></span></h4>
						<p class="listing-font"><strong>Venue:</strong> <%= list.address %></p>
		                <p class="listing-font"><strong>Date:</strong> <%= list.date.strftime('%d %b %Y, %a')  %></p>
              			<p class="listing-font"><strong>Time:</strong> <%= "#{list.starttime.strftime('%I:00 %p')} - #{list.endtime.strftime('%I:00 %p')}" %></p>		
						<p class="listing-font"><strong>Pax:</strong> <%= list.pax_needed %></p>	
              			</div>
					</li>
					<% end %>
				  </ul>
			  </div>

			</div>
			</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="tab2">
			<div class="col-lg-12 tab-inner">
			<div class="row">
			  
			  <div class="col-md-2">
				<div class="left-date-bar">
					<ul class="detail-box">
						<li class="active"><a href="#">Oct 2016</a></li>
						<li><a href="#">Nov 2016</a></li>
						<li><a href="#">Dec 2016</a></li>
					</ul>
				</div>
			  </div>
			
			  <div class="col-md-10">
				<ul class="detail-box">
					<% @listing.each do |list| %>
					<li>
						<div class="single-list-container">
						
						<h4><span><img src="<%= list.activity.logo.url %>" height="25"></span><span><strong>   <%= list.description %></strong></span></h4>
						<p class="listing-font"><strong>Venue:</strong> <%= list.address %></p>
		                <p class="listing-font"><strong>Date:</strong> <%= list.date.strftime('%d %b %Y, %a')  %></p>
              			<p class="listing-font"><strong>Time:</strong> <%= "#{list.starttime.strftime('%I:00 %p')} - #{list.endtime.strftime('%I:00 %p')}" %></p>		
						<p class="listing-font"><strong>Pax:</strong> <%= list.pax_needed %></p>	
              			</div>
					</li>
					<% end %>
				  </ul>
			  </div>



			</div>
			</div>
			</div>

			</div> <!-- tab content -->

			</div>
			</div>
			</div>
			</div>
	</div>
	</div>
</div>

