<!DOCTYPE html>
<html>
<head>
  <title>Teamup</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
</head>
<body>

  <nav class="main-nav">
  <div id="nav-container" class="container-fluid">
    
    <div class="navbar-header" id="abc">
      <a class="navbar-brand" href="/">
        <%= image_tag("logo_color.png") %>
      </a>
    </div>


    <ul id="main-nav-text" class="nav navbar-nav navbar-right">
        <li>
            <a class="nav-option" href="/activities/join"><i class="fa fa-link" aria-hidden="true"></i> Join Activity</a>
        </li>
        <li>
            <a class="nav-option" href="/activities/new"><i class="fa fa-plus" aria-hidden="true"></i> Host Activity</a>
        </li>
        <% if user_signed_in? %>

        <li>
            <a class="nav-user" href="/users/<%= current_user.id %>"><i class="fa fa-user" aria-hidden="true"></i> <%= current_user.name %> <i class="fa fa-caret-down" aria-hidden="true"></i></a>
        </li>
        <% else %>
        <li><%= link_to 'Log In', new_user_session_path %></li>
        <% end %>
    </ul>

    <div id="navbar-search" class="nav navbar-nav navbar-right">
    <div class="search-bar">
      <form action="" class="search-form">
        <div class="form-group has-feedback">
          <label for="search" class="sr-only">Search</label>
          <input type="text" class="form-control" name="search" id="search" placeholder="search">
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
      </form>
      </div>
      </div>

  </div>
  </nav>

  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
  </div>

  <%= yield :top_content %>

  <div class="container">
      <h1><%= yield :header %></h1>
    <%= yield %>
  </div>

</body>
</html>
