<!DOCTYPE html>
<html>
<head>
  <title>Teamup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <div class="navbar-header" id="abc">
      <a class="navbar-brand" href="/">
        <%= image_tag("logo_color.png") %>
      </a>
    </div>

    <ul id="non-landing-nav-text" class="nav navbar-nav navbar-right">
        <li>
            <a class="page-scroll" href="#portfolio">Join</a>
        </li>
        <li>
            <a class="page-scroll" href="#contact">Host</a>
        </li>
        <% if user_signed_in? %>
        <li>
            <a href="/users/<%= current_user.id %>">Hi, <%= current_user.name %>!</a>
        </li>
        <% else %>
        <li><%= link_to 'Log In', new_user_session_path %></li>
        <% end %>
    </ul>

  </div>
  </nav>

  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
  </div>

  <%= yield :top_content %>

  <div class="container">
      <h1><%= yield :header %></h1>
    <%= yield %>
  </div>

</body>
</html>
